body {
  font-family: Urbanist, sans-serif;
}

h1 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: normal;
  line-height: 46pt;
  letter-spacing: 3px;
}

h2 {
  font-size: 2.5rem;
  font-weight: normal;
}

#colors h3 {
  text-align: center;
}

h3 {
  font-size: 2rem;
  font-weight: normal;
}

section {
  border: 2px solid silver;
  margin: 5rem 2rem;
  padding: 1cap;
}

.palette {
  text-align: center;
  padding-left: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.palette li {
  box-sizing: border-box;
  display: inline-block;
  flex: 1 1 300px;
  height: 150px;
  padding: 48px 70px;
  border: 2px black solid;
  margin: 10px 20px;
  max-width: 470px;
}

@media only screen and (1126px <= width <= 1466px){

  .palette li {
    flex: 1 0 300px;
    min-width: 469px;
    max-width: none;
  }
}

@media only screen and (width < 1126px){

  .palette li {
    flex: 1 1 300px;
    max-width: none;
  }
}

#colors h3+p {
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#white {
  background-color: white;
}

#yellow{
  background-color: #F4CE14;
  color: black;
}

#green {
  background-color: #379777;
  color: white ;
}

#coal {
  background-color: #45474B;
  color: white;
}

#gray {
  background-color: #e5e8e8;
}

#pigeonblue {
  background-color: #8696B6;
  color: white;
}

#nightblue {
  background-color: #352C53;
  color: white;
}

#redviolet {
  background-color: #854C54;
  color: white;
}

.font {
  display: inline-block;
  width: 45%;
}

@media only screen and (max-width: 600px) {
  .font {
    width: 80%;
  }
}

.Ubuntu-Mono {
  font-family: "Ubuntu Mono", monospace;
}

.Bitter {
  font-family: "Bitter", serif;
}

.Urbanist {
  font-family: "Urbanist", sans-serif;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

code {
  font-family: "Ubuntu Mono";
  font-size: 1rem;
  background-color: lightgray;
}

.breadcrumb li {
  display: inline-block;
}

.breadcrumb li+li.location::before {
  content: '>';
  margin-left: 5px;
  margin-right: 5px;
}

.breadcrumb li+li.attribute::before {
  content: '';
  margin-left: 5px;
  margin-right: 5px;
}

.breadcrumb .attribute::after {
  content: 'x';
  vertical-align: super;
  color: red;
}

.breadcrumb .attribute:hover {
  color:red;
}

.breadcrumb .location:hover {
  text-decoration: underline;
}
